
 /* ----- INICIO DA PAGINA CADASTRO ----- */

 /* main da pagina*/
main.container {
    width: 100vw;
    text-align: justify;
    font-size: 1.2em;
    margin-left: 10%;
    color: black;
}
 /* section class.cadastro */
.cadastro { 
    align-self: center;
    padding: 20px 0px 20px 0px;
    max-width: 80%;
}
 /* form class.formcadastro */
.formcadastro {
    width: 80%;
    background-color: transparent;
    font-size: 1.1em;
}

 /* tag fieldset*/
fieldset {
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-end;
}

label {
    padding-right: 3px;
    color: black;
    font-weight: bolder;
    padding: 10px;
}

.centro {
    margin: 0 auto;
    justify-self: center;
    padding: 5px;
}

input {
    border: none;
    padding: 5px;
    font-size: 1em;
    max-width: 40vw;
    border-radius: 0px 2px 2px 2px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.37);
    background-color: transparent;
/*IDs do radio*/
}
#female, #male, #ninform {
    min-width: auto;
    font-size: 1.1em;
    font-weight: bolder;
    margin-left: 20px;

}
#celular, #outrocontato, #cpf, #rg, #data, #cidade, #email {
    min-width: auto;
}
#numero {
    min-width: auto;
}
.radio {
    padding: 20px;
}
.radio > p {
    padding: 0px 20px;
}
.button {
    background-color: darkgray;
    font-weight: bolder;
    justify-items: center;
    min-width: auto;
    margin: 0px 20px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.529);
}
.button:hover {
    background-color: darkred;
}
aside {
    padding-top: 10px;
    padding-bottom: 10px;
}
