
/*  -----  INICIO DA PAGINA CONTATO ----- */

/* class conteiner no main */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    text-align: justify;
    font-size: 1.2em;
    margin-left: 10%;
    color: black;
}
/*section da pagina contato*/
section{
    padding-top: 10px;
    padding-bottom: 10px;
}
.sectioncontato { 
    align-self: center;
    padding: 20px 20px 20px 20px;
    max-width: 80%;
    color: black;
    font-size: 1.2em;
    text-align: justify;
}
/*fieldset da pagina contato*/
.contato {
    padding-left: 20px;
    border: none;
    color: black;
    font-size: 1.2em;
}

.caixa {
    display: flex;
    flex-direction: column;
}

.contato input {
    border: none;
    min-width: 300px;
    max-width: 40vw;
    height: 20px;
    border-radius: 0px 5px 0px 0px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);
}
 /*caixa de texto pagina contato*/
#mensagem {
    min-width: 300px;
    max-width: 60vw;
    border-radius: 0px 5px 0px 0px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);
}
 /*linha*/
hr{
    min-width: 300px;
    max-width: 50vw;  
}
aside {
    padding: 10px;
}
