/*INICIO DA PAGINA PRINCIPAL*/

/* class conteiner no main*/
.container{
    font-size: 1em;
}

section.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}
section.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 80%;
    height: 80%;
}
.c1 {
    color: black;
    text-align: justify;
    padding: 20px;
    width: 100%;
}
.c3 {
    color: black;
    padding: 20px;
}