/* ----- INICIO DA PAGINA MENU ----- */

/* class conteiner no main */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#h1{
    padding-top: 10px;
    color: black;
    text-align: left;
    text-shadow: 1px 1px 1px darkred;
}
.aa {
    grid-area: a;
}
.bb {
    grid-area: b;
}
.container {   
    height: 100%;
    width: 100vw;
    font-size: 1.2em;
    color: black;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-gap: 50px;
    grid-template-areas: "a b"
}
article {
    margin-top: 10px;
    
}


#prato {
    height: 100%;
    max-width: 40vw;
    background-attachment: fixed;
    background-size: cover;
}
