@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family= Parisienne & display=swap') ;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --cor0:#3f1503;
    --cor1:#91491a;    ;
    --cor2:#740005;
    --cor3:#c32105;
    --cor4:#807e2a;
    --cor5:#eadac0;
    --fonte-estilo: 'Parisienne', cursive;
}
body {   
    background-image: linear-gradient(to bottom, rgb(245, 245, 232), var(--cor5));
    width: 100%;
    font-family: var(--fonte-estilo);
    color: var(--cor5);
}
/*  ----- INICIO DO HEADER/CABEÇALHO -----  */
header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor1));
    min-height: 150px;
    width: 100vw;
    text-align: center;
    font-weight: bolder;
}
header > h1 {
    padding-top: 50px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
}

nav {
    background-color: var(--cor2);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 7px;
}
nav li {
    display: inline-block;
    list-style: none;
}
.dropdownmenu {
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;   /*não irá exibir o drop down na tela*/
}
.dropdownmenu a{
    background-color: var(--cor2);
    display: block;
}
.dropdown:hover .dropdownmenu {
    display: block;  /*Ao passar o mouse o menu irá aparecer*/
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor5);
    height: 5vh;
}
nav a {
    padding: 0px 40px;
}
nav a:hover, footer a:hover {
    background-color:var(--cor4);
    color: white;
    text-decoration: underline;
    padding: 3px 30px;
    border-radius: 4px;
    transition-duration: 0.3s;
}
a.externo::after {
    content: '\00A0\1F517';
}
/*  ----- INICIO DO MAIN/PRINCIPAL -----  */
main {
    width: 100vw;
    justify-content: center;
}


/*  ----- INICIO DO FOOTER/RODAPÉ -----  */
footer {
    background-color: var(--cor2);
    padding-top: 4px;
    text-align: center;
    height: 5vh;
    width: 100vw;
}