@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family= Parisienne & display=swap') ;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor0:#3f1503;
    --cor1:#91491a;    ;
    --cor2:#740005;
    --cor3:#c32105;
    --cor4:#807e2a;
    --cor5:#eadac0;
    --fonte-estilo: 'Parisienne', cursive;;
}

body {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
    min-height: 100vh;
    font-family: var(--fonte-estilo);
    color: var(--cor5);

}
header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor1));
    height: 25vh;
    text-align: center;
    font-weight: bolder;
    width: auto;
}
header > h1 {
    padding-top: 50px;
}

nav {
    background-color: var(--cor2);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 7px;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor5);
    height: 5vh;
}
nav a {
    padding: 0px 40px;
}


nav a:hover, footer a:hover {
    background-color:var(--cor4);
    color: white;
    text-decoration: underline;
    padding: 3px 30px;
    border-radius: 4px;
    transition-duration: 0.2s;
}
a.externo::after {
    content: '\00A0\1F517';
}

main {
    width: 100vw;
    justify-content: center;
}
.b1{
    margin-left: 30%;
    align-self: center;
    padding: 20px 0px 20px 0px;
    min-width: 300px;
    max-width: 30vw;
    color: black;
    font-size: 1.2em;
    text-align: justify;
}
fieldset {
    margin-left: 30%;
    border: none;
    color: black;
    font-size: 1.2em;
}
fieldset input {
    border: none;
    min-width: 300px;
    max-width: 30vw;
    height: 20px;
    border-radius: 0px 5px 0px 0px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);
}
fieldset textarea {
    min-width: 300px;
    max-width: 30vw;
    border-radius: 0px 5px 0px 0px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);
}

hr{
    min-width: 300px;
    max-width: 30vw;
}

footer {
    background-color: var(--cor2);
    text-align: center;
    height: 5vh;
    width: 100vw;
}